
<ul class='operations' >
      <li class='$httpMethod operation' id='$resourceName_$operationName'>
            <div class='heading'>
                <h3>
                  <span class='http_method'>
                    <a href='#!/$resourceName/$operationName_$httpMethod}' class="toggleOperation">$httpMethod</a>
                  </span>
                  <span class='path'>
                    <a href='#!/$resourceName/$operationName_$httpMethod}' class="toggleOperation">$path</a>
                  </span>
                </h3>
                <ul class='options'>
                    <li>
                    <a href='#!/$resourceName/$operationName_$httpMethod}' class="toggleOperation">$description</a>
                    </li>
                </ul>
            </div>
            <div class='content' id='$resourceName_$operationName_$httpMethod_content'>
            
                <form accept-charset='UTF-8' class='sandbox'>
                    <div style='margin:0;padding:0;display:inline'></div>
                  
					#if ($parameters)
                    <h4>Parameters</h4>
                    <table class='fullwidth'>
                        <thead>
                        <tr>
                            <th style="width: 100px; max-width: 100px" >Parameter</th>
                            <th style="width: 310px; max-width: 310px">Value</th>
                            <th style="width: 200px; max-width: 200px">Description</th>
                            <th style="width: 320px; max-width: 330px">Data Type</th>
                        </tr>
                        </thead>
                        <tbody class="operation-params">

                        </tbody>
                    </table>
                   #end
				 
                    #if( $errors != "" )
                    <div style='margin:0;padding:0;display:inline'></div>
                    <h4>Error Status Codes</h4>
                    <table class='fullwidth'>
                        <thead>
                        <tr>
                            <th>HTTP Status Code</th>
                            <th>Reason</th>
                        </tr>
                        </thead>
                        <tbody class="operation-status">
                        #foreach($error in $errors)
							<td>$error.getStatus()</td><td>$error.getCause()</td>
						#end
                        </tbody>
                    </table>
					#end
                    
                    <div class='sandbox_header'>
                        <input class='submit' name='commit' type='button' value='Try it out!' />
                        <a href='#' class='response_hider'>Hide Response</a>
                        <img alt='Throbber' class='response_throbber' src='images/throbber.gif' />
                    </div>
                 
                </form>
                <div class='response'>
                    <h4>Request URL</h4>
                    <div class='block request_url'></div>
                    <h4>Response Body</h4>
                    <div class='block response_body'></div>
                    <h4>Response Code</h4>
                    <div class='block response_code'></div>
                    <h4>Response Headers</h4>
                    <div class='block response_headers'></div>
                </div>
            </div>
        </li>
    </ul>
<div>----------------------------------------------------</div>
<ul class='test'>
	<li>operationName: 
		#if($operationName)
			$operationName
		#else
			<span class="undefined">Undefined</span>
		#end
		</li>
	<li>resourceName:
		#if($resourceName)
			$resourceName
		#else
			<span class="undefined">Undefined</span>
		#end
	</li>
	<li>description:
		#if($description)
			$description
		#else
			<span class="undefined">Undefined</span>
		#end
	</li>
	<li>path:
		#if($path)
			$path
		#else
			<span class="undefined">Undefined</span>
		#end
	</li>
	<li>Input
		<ul>
			<li>Type: 
				#if($input.getType())
					$input.getType()
				#else
					<span class="undefined">Undefined</span>
				#end
			</li>
			
			<li>Description: 
				#if($input.getDescription())
					$input.getDescription()
				#else
					<span class="undefined">Undefined</span>
				#end
				</li>
			<li>
				Ref: 
				#if($input.getRef())
					$input.getRef()
				#else
					<span class="undefined">Undefined</span>
				#end
			</li>
			<li>
        		Parameters:
				#if($input.getParams())
        		<ul>
        			#foreach ($param in $input.getParams())
        			<li>
						<ul>
							<li>
								Name:  
								#if($param.getName())
									$param.getName()
								#else
									<span class="undefined">Undefined</span>
								#end
							</li>
							<li>
								Description: 
								#if($param.getDescription())
									$param.getDescription()
								#else
									<span class="undefined">Undefined</span>
								#end
							</li>
							<li>
								Mode: 
								#if($param.getMode())
									$param.getMode()
								#else
									<span class="undefined">Undefined</span>
								#end	
							</li>
							<li>
								Binding: 
								#if($param.getBinding())
									$param.getBinding()
								#else
									<span class="undefined">Undefined</span>
								#end	
							</li>
							<li>
								Type: 
								#if($param.getType())
									$param.getType()
								#else
									<span class="undefined">Undefined</span>
								#end		
							</li>
						</ul>
					</li>
					#end
        		</ul>
				#else
					No Parameters specified!
				#end
			</li>
			<li>
			#if($input.getParams())
    		Content Types:
        		<ul>
        			#foreach ($contentType in $input.getContentType())
        				<li>$contentType</li>
					#end
        		</ul>
			#else
				<span class="undefined">Undefined</span>
			#end
			</li>
		</ul>	
	</li>
	<li>Output
		<ul>
			<li>Type: 
				#if($output.getType())
					$output.getType()
				#else
				<span class="undefined">Undefined</span>
				#end
			</li>
			<li>ContentType: 
				#if($output.getContentType())
				<ul>
					#foreach ($type in $output.getContentType())
						<li>Type: $type</li>
					#end
				</ul>
				#else
				<span class="undefined">Undefined</span>
				#end
			</li>
			<li>Description: 
				#if($output.getDescription())
					$output.getDescription()
				#else
					<span class="undefined">Undefined</span>
				#end
			</li>
			<li>Headers: 
				#if($output.getHeaders())
				<ul>
					#foreach ($header in $output.getHeaders())
						<li>Name: 
							#if($header.getName())
								$header.getName()
							#else
								<span class="undefined">Undefined</span>
							#end
						</li>
						<li>Description: 
							#if($header.getDescription())
								$header.getDescription()
							#else
								<span class="undefined">Undefined</span>
							#end
							</li>
						<li>Ref: 
							#if($header.getRef())
								$header.getRef()
							#else
								<span class="undefined">Undefined</span>
							#end
						</li>
					#end
				</ul>
				#else
					<span class="undefined">Undefined</span>
				#end
			</li>
			<li>Ref: 
				#if($output.getRef())
					$output.getRef()
				#else
					<span class="undefined">Undefined</span>
				#end
			</li>
			<li>Status: 
				#if($output.getStatus())
					$output.getStatus()
				#else
					<span class="undefined">Undefined</span>
				#end
			</li>
		</ul>
	</li>
	<li>httpMethod:
		#if($httpMethod)
			$httpMethod
		#else
			<span class="undefined">Undefined</span>
		#end
	</li>
	<li>Error List
		#if($errors)
		<ul>
			#foreach ($error in $errors)
				<li>status: $error.getStatus() - cause: $error.getCause()</li>
			#end
		</ul>
		#else
			<span class="undefined">Undefined</span>
		#end
</li>
<div>----------------------------------------------------</div>
</ul>	