
<ul class='operations' >
      <li class='$!httpMethod operation' id='$!resourceName_$!operationName'>
            <div class='heading'>
                <h3>
                  <span class='http_method'>
                    <a href='#!/$!resourceName/$!operationName_$!httpMethod}' class="toggleOperation">$!httpMethod</a>
                  </span>
                  <span class='path'>
                    <a href='#!/$!resourceName/$!operationName_$!httpMethod}' class="toggleOperation">$!path</a>
                  </span>
                </h3>
                <ul class='options'>
                    <li>
                    <a href='#!/$!resourceName/$!operationName_$!httpMethod}' class="toggleOperation">$!description</a>
                    </li>
                </ul>
            </div>
            <div class='content' id='$!resourceName_$!operationName_$!httpMethod_content'>
            
                <form accept-charset='UTF-8' class='sandbox'>
                    <div style='margin:0;padding:0;display:inline'></div>
                  
					 <table class='fullwidth'>
                        <thead>
                        <tr>
                            <th style="width: 100px; max-width: 100px" >Parameter</th>
                            <th style="width: 310px; max-width: 310px">Value</th>
                            <th style="width: 200px; max-width: 200px">Description</th>
                            <th style="width: 320px; max-width: 330px">Data Type</th>
                        </tr>
                        </thead>
                        <tbody class="operation-params">
                        #foreach ($inputParameter in $inputParameters)
                        	#if ($inputParameter.isOptional())
                        		#set ($classType = "optional")
                        	#else
                        		#set ($classType = "required")
                        	#end
                        	
                        	#set ($inputType = "text")
                        <tr>	
                        <td class="code $classType">$inputParameter.getName()</td>
                        <td><input class=$classType type=$inputType value="" placeholder=($classType) name=$!inputParameter.getName()></td>
                        <td>$!inputParameter.getDescription()</td>
                        <td>$!inputParameter.getType()</td>
                        </tr>
                        #end
                        </tbody>
                    </table>
                    #if( $!errors )
                    <div style='margin:0;padding:0;display:inline'></div>
                    <h4>Error Status Codes</h4>
                    <table class='fullwidth'>
                        <thead>
                        <tr>
                            <th>HTTP Status Code</th>
                            <th>Reason</th>
                        </tr>
                        </thead>
                        <tbody class="operation-status">
                        #foreach($error in $errors)
							<td>$error.getStatus()</td><td>$error.getCause()</td>
						#end
                        </tbody>
                    </table>
					#end
                    
                    <div class='sandbox_header'>
                        <input class='submit' name='commit' type='button' value='Try it out!' />
                        <a href='#' class='response_hider'>Hide Response</a>
                        <img alt='Throbber' class='response_throbber' src='images/throbber.gif' />
                    </div>
                 
                </form>
                <div class='response'>
                    <h4>Request URL</h4>
                    <div class='block request_url'></div>
                    <h4>Response Body</h4>
                    <div class='block response_body'></div>
                    <h4>Response Code</h4>
                    <div class='block response_code'></div>
                    <h4>Response Headers</h4>
                    <div class='block response_headers'></div>
                </div>
            </div>
        </li>
    </ul>
